/* ***** HOME PAGE ***** */
/* ***** HOME PAGE ***** */
/* ***** HOME PAGE ***** */

h1 {
  font-family: Roboto Slab;
}

p {
  font-family: Oxygen;
}

h3  {
  font-family: Roboto Slab;
}

.title-link:hover {
  text-decoration: none;
  color: rgb(230, 119, 137)
}

.title {
  margin-top: 7vh;
  text-align: center;
}

.border {
  padding-top: 7vh;
  margin-left: 30vw;
  margin-right: 30vw;
  border-bottom: 4px double;
}

.icecream-container {
  padding-top: 2vh;
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.icecream-container img {
  height: 23vh;
  width: 10vw;
}

.btn-gradient {
  color: white;
  padding: 2vh 2vw;
  border-radius: 4px;
  background: linear-gradient(#167FFB, #6c9edb);
  transition: background 0.3s ease;
  border: 1px solid #167FFB;
  text-decoration: none;
  font-family: Oxygen;
}

.btn-gradient:hover {
  text-decoration: none;
  color: rgb(230, 119, 137);
}

/* FOR DATES */
/* .btn-flat-dates {
  color: #167FFB;
  border: 1px #167ffb solid;
  padding: 8px 24px;
  border-radius: 4px;
  background: white;
} */

.button-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 6vh;
  padding-bottom: 6vh;
}

.quote-card-border {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.quote-card {
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  font-family: Oxygen;
}

.flex-container {
 display: flex;
 justify-content: space-evenly;
 flex-direction: row;
 margin: 5vh 16vw 5vh 16vw;
}

.flex-container-cr {
  padding-top: 6vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 5vh 16vw 5vh 16vw;
 }

.right-column {
  margin-left: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.left-column {
  width: 70%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.left-column img {
  margin-left: 10%;
  padding: 2px;
  margin-top: 2vh;
  margin-bottom: 4vh;
  border: 2px gray double;
}

.just-ap {
  color: #333333;
}

.just-ap:hover {
  text-decoration: none;
  color: rgb(230, 119, 137);
}

.button-border {
  width: 100%;
  border-bottom: 4px double;
  margin-top: 8%;
  margin-bottom: 8%;;;;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 23vh;;;;
}

.button-container-continued {
  width: 30vw;
  margin-bottom: 5vh;;;;
}

.posts-border {
  border-bottom: 1px double;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
}

.posts-border-double {
  border-bottom: 4px double;
  padding-bottom: 5vh;
}

.paragraph-padding {
  padding-bottom: 5vh;
}

.bernie-icecream {
  float: left;
  padding: 2%;;;
}

.something-of-note {
  padding-bottom: 4vh;;;
}

.turtle {
  float: left;
  padding: 2%;;;
}

.less-note {
  padding-bottom: 4vh;
}

/* footer */

.footer {
    background: #f5f0f0;
    height: 50vh;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
}

.footer-questions { 
  display: flex;
  justify-content: center;
  padding-top: 6vh;
}
#form-control:focus {
  background-color: white;
}

textarea:focus {
  background-color:white;
}

form {
  display: flex;
  flex-direction: column;
}

#form-control {
  background-color: #f2eaea;
}

.footer-left {
  width: 50%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.footer-right {
  padding-right: 14vw;
  margin-left: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-row {
  padding-left: 14vw;
  display: inline-flex;
}

.form-group {
  display: flex;
  padding-left: 14vw;;
}

.form-control-message {
  width: 30.5vw;
  height: 16vh;
  background-color: #f2eaea;
}

.footer-text {
  display: flex;
  flex-direction: column;
}

.footer-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.btn-flat {
  width: 10vw;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #df7a90;
  transition: background 0.3s ease;
  margin-left: 14vw;
  font-family: Oxygen;
}

.btn-flat:hover {
  background: #943247;
  color: white;
}

.contact-info {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
}

.contact-left {
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  padding: 0 7vw 0 0;
}

.contact-right {
  display: flex;
  flex-direction: column;
  /* width: 54%; */
  padding: 0 6vw 0 0;
}

/* ***** CONTINUE READING PAGE ***** */
/* ***** CONTINUE READING PAGE ***** */
/* ***** CONTINUE READING PAGE ***** */

.flex-container-cr {
  padding-top: 6vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 5vh 16vw 5vh 16vw;
 }

 .posts-border-cr {
  border-bottom: 1px solid;
  padding-bottom: 5vh;
  margin-bottom: 5vh;
}

/* ***** LEARN MORE PAGE *****
***** LEARN MORE PAGE *****
***** LEARN MORE PAGE ***** */

.right-column-now-left {
  margin-right: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.left-column-now-right {
  width: 70%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.left-column-now-right img {
  margin-left: 10%;
  padding: 2px;
  margin-top: 2vh;
  margin-bottom: 4vh;
  border: 2px rgb(230, 119, 137) double;
}

/* ***** BLOG POST *****
***** BLOG POST *****
***** BLOG POST ***** */

.dog-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.dog-picture img {
  height: 30%;
  width: 20%;
}

.cheese-ipsum {
  margin: 0 25vw 0 25vw;
}